## editors
/.idea
/.vscode

## system files
.DS_Store
.storybook
/stories
/storybook-static
## npm
/node_modules/
/npm-debug.log
/instrumented/
## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

# test files
/cypress/screenshots/
/cypress/videos/